/*CAPTION*/
.description {
    position: absolute; /* absolute position (so we can position it where we want)*/
    bottom: 4px; /* position will be on bottom */
    background-color: silver;
    /*font-size: 18px;*/
    color: white;
    opacity: 0.8;
    filter: alpha(opacity=60); /* IE transparency */
    width: 98%;
}
p.description_content {
    padding: 10px;
    margin: 0px;
}
p.description_content a {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #0186ba;
}
p.description_content a:hover {
    color: #fff !important;
}
p.description_content:hover {
    background-color: black;
}
p.description_content a:visited {
    color: red;
}
/*END CAPTION*/

footer p {
    text-align: center;
    font-style: italic;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/*.row img {
    width: 100%;
}*/

.fa-bars {
    font-size: 30px;
}
.navbar-brand {
    font-size: 18px;
}

.pull-right, .navbar-brand {
    /*background-color: #03A9F4;*/
    /*height: 35px;*/
    text-align: center;
    color: #fff;
}
/*.container-search {
    height: 35px;
}*/

/*.mi-col-xs-9 {
    background-color: #03A9F4;
}*/

.fa-bars, .navbar-brand a {
    color: #fff;
}

.navbar-brand img {
    width: 140px;
}

form {
    width: 90%;
    margin: 5px auto;
}

.login {
    background-color: #ECEFF1;
}

.login input:invalid {
    border-color: red;
}
.login input,
input:valid {
    border-color: #ccc;
}

.login input[type=text], .login input[type=password], .login input[type=email] {
    width: 100%;
    margin-bottom: 5px;
    outline: 0;
    border: 2px solid #B0BEC5;
    padding: 10px;
}

.login input[type=submit] {
    background-color: #03A9F4;
    width: 100%;
    outline: 0;
    padding: 10px;
    border: 0;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login h2 {
    text-align: center;
    text-transform: uppercase;
}

.sub-title {
    font-size: 12px;
    text-transform: none;
    font-style: italic;
}

label {
    font-size: 12px;
    text-transform: uppercase;
    color: #B0BEC5;
    margin-bottom: 10px;
}

.login p {
    font-size: 12px;
    color: #B0BEC5;
    font-family: 'Prociono', serif;
}
.forgot {
    float: right;
    font-style: italic;
    color: red;
}

.container {
    background-color: #ECEFF1;
    border-bottom: 20px;
}

.login p:nth-child(2) {
    color: red;
    text-align: center;
    font-size: 16px;
}

.dropdown img {
    width: 30px;
    float: right;
    border-radius: 50%;
}

.head-cont {
background-color: #03A9F4;
/*height: 145px;*/
}