/*CAPTION*/
.description {
    position: absolute; /* absolute position (so we can position it where we want)*/
    bottom: 4px; /* position will be on bottom */
    background-color: silver;
    /*font-size: 18px;*/
    color: white;
    opacity: 0.8;
    filter: alpha(opacity=60); /* IE transparency */
    width: 98%;
}
p.description_content {
    padding: 10px;
    margin: 0px;
}
p.description_content a {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #0186ba;
}
p.description_content a:hover {
    color: #fff !important;
}
p.description_content:hover {
    background-color: black;
}
p.description_content a:visited {
    color: red;
}
/*END CAPTION*/

footer {
    text-align: center;
    font-style: italic;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}