/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2016, 11:07:43 PM
    Author     : julekgwa
*/

@import 'https://fonts.googleapis.com/css?family=Prociono';

body {
    /*margin: 0;*/
    font-family: 'Prociono', serif;
}

form input[type=search] {
    width: 100%;
}

footer p {
    text-align: center;
    font-style: italic;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #ECEFF1;
    border-bottom: 20px;
    /*padding: 20px;*/
}

.logo {
    width: 140px;
}

header {
    display: flex;
    /*padding: 1em;*/
    background-color: #03A9F4;
}

/*.item {
    flex: 1;
}*/

.item-search {
    flex: 4;
}

.item-search, .item-menu {
    padding: 10px;
}

.fa-bars {
    font-size: 30px;
    color: #fff;
}

.item-menu {
    text-align: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    right: 0;
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-search{
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    padding-top: 15px;
}

.container-search input#search{
    height: 25px;
    border: none;
    font-size: 10pt;
    float: left;
    width: 100%;
    padding-left: 15px;
}

.container-search input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-search input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.container-search input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.container-search input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-search button.icon{
    border-top-right-radius: 5px;
    border-radius-topright: 5px;
    border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #232833;
    height: 25px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    transition: all .55s ease;
}

.container-search:hover button.icon, .container-search:active button.icon, .container-search:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -20px;
}

.container-search:hover button.icon:hover{
    background: white;
}

.login form {
    width: 90%;
    margin: 5px auto;
}

.login {
    background-color: #ECEFF1;
}

.login input:invalid {
    border-color: red;
}
.login input,
input:valid {
    border-color: #ccc;
}

.login input[type=text], .login input[type=password], .login input[type=email] {
    width: 100%;
    margin-bottom: 5px;
    outline: 0;
    border: 2px solid #B0BEC5;
    padding: 10px;
}

.login input[type=submit] {
    background-color: #03A9F4;
    width: 100%;
    outline: 0;
    padding: 10px;
    border: 0;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login h2 {
    text-align: center;
    text-transform: uppercase;
}

.sub-title {
    font-size: 12px;
    text-transform: none;
    font-style: italic;
}

label {
    font-size: 12px;
    text-transform: uppercase;
    color: #B0BEC5;
    margin-bottom: 10px;
}

.login p {
    font-size: 12px;
    color: #B0BEC5;
    font-family: 'Prociono', serif;
}
.forgot {
    float: right;
    font-style: italic;
    color: red;
}

/*like and dislike buttons*/
.social-like, .social-dislike {
    border: none;
    outline: none;
    font-size: 16px;
    /*width: 48%;*/
    background-color: #03A9F4;
    color: #fff;
}

.social-like {
    border-top-left-radius: 5px;
    text-align: right;
}

.social-dislike {
    border-top-right-radius: 5px;
    text-align: left;
}

.count, .like, .dislike-count {
    padding:10px;
}

.count, .dislike-count {
    background-color: #03A9F4;
    border-radius: 50%;
    font-size:12px;
}

.dislike-count {
    margin-left: -13px;
}

.count {
    margin-right: -10px;
}

.like:hover, .dislike:hover {
    cursor: pointer;
    color: #000;
}

.like:focus,
.like:active
 {
    color: green;
}
.dislike:focus,
.dislike:active {
    color: red;
}

.social {
    padding: 10px;
}

#comment_form input, #comment_form textarea {
    border: 4px solid rgba(0,0,0,0.1);
    padding: 8px 10px;
    border-radius: 5px;
    outline: 0;
}

#comment_form textarea {
    width: 100%;
}

#comment_form input[type="submit"] {
    cursor: pointer;
    background: -webkit-linear-gradient(top, #efefef, #ddd);
    background: -moz-linear-gradient(top, #efefef, #ddd);
    background: -ms-linear-gradient(top, #efefef, #ddd);
    background: -o-linear-gradient(top, #efefef, #ddd);
    background: linear-gradient(top, #efefef, #ddd);
    color: #333;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -ms-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(top, #eee, #ccc);
    border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
    background: -webkit-linear-gradient(top, #ddd, #aaa);
    background: -moz-linear-gradient(top, #ddd, #aaa);
    background: -ms-linear-gradient(top, #ddd, #aaa);
    background: -o-linear-gradient(top, #ddd, #aaa);
    background: linear-gradient(top, #ddd, #aaa);
    border: 1px solid #999;
}

#comment_form div {
    margin-bottom: 8px;
}

/*comment area*/
.comment-area {
    background-color: #fff;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}
.comment-area p {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
.author {
    text-align: right;
}

.success {
    text-align: center;
    color: green !important;
    font-size: 16px !important;
    font-weight: bold;
}

span.error, .nouser {
    color: red;
}

.login p:nth-child(2) {
    color: red;
    text-align: center;
    font-size: 16px;
}

.profile {
    display: flex;
}

.info {
    flex: 1;
    background-color: greenyellow;
}

.uploads {
    background-color: yellow;
    flex: 4;
}

.author {
    text-transform: capitalize;
}

video {
    border: 1px solid #000;
}

/*super imposed image radio style*/
.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
}

input[type=radio]:checked + label>img {
    transform:
            rotateZ(-10deg)
            rotateX(10deg);
}

/*.item img {
    width: 100%;
}*/

.gallery {
    margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}


.responsive-image {
  max-width: 100%;
}

.cell img {
    display: block;
}

.cell {
  margin: 1rem;
}

#overlay-box {
    position: relative;
}

#impose {
    position: absolute;
    z-index: 30000;
}
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
    body {
        background-color: #000000;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
    body {
        background-color: #03A9F4;
    }

    .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
    body {
        background-color: #009900;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
    body {
        background-color: #0186ba;
    }
    .cell {
    width: calc(33.3333% - 2rem);
  }
  .container {
    width: 90%;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    body {
        background-color: coral;
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
    
}
