<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            @import 'https://fonts.googleapis.com/css?family=Prociono';
            body {
    font-family: 'Prociono', serif;
}
        </style>
        <div style="background-color: transparent;">
        	<h1>Camagru</h1>
        </div>
        <div style="background-color: #03A9F4; color: #fff;padding: 10px;">Welcome to Camagru !<br><br>

Thank you for registering at Camagru, your account has been activated.<br>
You can go to http://localhost/Camagru to log into your account. Your account information is shown below for reference purposes.<br><br>

Login : $email <br><br>

The last step is the validation of your email address. For that, please visit this URL: <br><br>

Thanks and enjoy :)<br><br>

All the best,<br>
Camagru Team.</div>
    </body>
</html>
